<ul>
  <li *ngFor="let pokemon of pokeList; index as i; first as isFirst" class="pokemon__box">
    <img src="{{ pokemon.image }}" />
    <a mat-button color="primary" routerLink="/details/{{ pokemon.name }}">{{
      pokemon.name | titlecase
    }}</a>
  </li>
</ul>
<p class="buttons__flex">
  <button mat-flat-button color="primary" type="button" *ngIf="previousPage" (click)="getPage(previousPage)">
    Previous
  </button>
  <button mat-flat-button color="primary" type="button" *ngIf="nextPage" (click)="getPage(nextPage)" class="button__next">
    Next
  </button>
</p>
