.evolutions__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 0;
}

.details__mainWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 20px;
}

.details__main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button__back {
  margin-left: auto;
}

.details__flexbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.details__row {
  flex: 1;
  margin-bottom: 20px;
}

.evolution__boxLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  border-radius: 8px;
  padding: 8px;
  margin-right: 8px;
  transition: all 0.5s linear;

  > div {
    font-weight: 500;
    font-size: 14px;
    padding: 8px;
    letter-spacing: 1.25px;
    color: rgb(103, 58, 183);
  }

  &:hover {
    background: peachpuff;
  }

  &:visited {
    > div {
      color: rgb(103, 58, 183);
    }
  }

  &.active-evolution {
    background: pink;

    div {
      color: black;

      &:hover {
        background: pink;
      }
    }
  }
}

.evolution__image {
  width: 96px;
  height: 96px;
}

h3 {
  font-weight: 500;
  font-style: italic;
}
