<div class="details__mainWrapper">
  <div class="details__main">
    <h2>{{ pokemon?.name | titlecase }}</h2>
    <p>
      <img src="{{ pokemon?.sprites?.front_default }}" class="details__img" />
    </p>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pok%C3%A9mon_logo.svg"
      class="pokemon__logo"
    />
  </div>
  <a
    class="button__back"
    mat-flat-button
    color="accent"
    routerLink="/pokemon-list"
    >Back to pokedex</a
  >
</div>
<div class="details__flexbox">
  <div class="details__row">
    <h3>Abilities</h3>
    <ul>
      <li
        *ngFor="let ability of pokemon?.abilities; index as i; first as isFirst"
      >
        {{ ability.ability.name | removeHyphensAndCapitalize | titlecase }}
      </li>
    </ul>
  </div>
  <div class="details__row" *ngIf="evolutionList?.length">
    <h3>Evolutions</h3>
    <ul class="evolutions__list">
      <li *ngFor="let evolution of evolutionList; index as i; first as isFirst">
        <a
          routerLink="/details/{{ evolution.name }}"
          class="evolution__boxLink"
          routerLinkActive="active-evolution"
        >
          <img src="{{ evolution.image }}" class="evolution__image" />
          <div>{{ evolution.name | titlecase }}</div>
        </a>
      </li>
    </ul>
  </div>
</div>
